<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOGS" value="${APP_LOGGING_ROOT:-application-log}/logs" />
	<property name="FILE_NAME" value="dgc-verifier" />

	<springProperty scope="context" name="springAppName"
		source="spring.application.name" />

	<!-- You can override this to have a custom pattern -->
	<property name="CONSOLE_LOG_PATTERN"
		value=" %d{yyyy-MM-dd HH:mm:ss.SSS} %5p [${springAppName},%X{X-B3-TraceId:-}] %m%n%throwable" />

	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				${CONSOLE_LOG_PATTERN}
			</Pattern>
		</layout>
	</appender>

	<!-- LOG everything at INFO level -->
	<root level="${APP_LOGGING_ROOT_LEVEL:-INFO}">
		 <appender-ref ref="Console" />
	</root>

</configuration>